# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
dist/
input/

# madx and madx_ptc output
internal_mag_pot.txt
ptc_twiss

# jupyter notebooks
*.ipynb

# other files
results*