# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
dist/
input/

# jupyter notebooks
*.ipynb
*-checkpoint.*

# other files
results*

normal.py
mertens*
tests/beamfile

# documentation output
docs/build/*
docs/make.bat
docs/Makefile

